# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2007-2015  Sven Eckelmann <sven@narfation.org>

*.[oa]
*~
*.so
*.pc
CMakeFiles
cmake_install.cmake
Makefile
CMakeCache.txt
config-s3d.h
doc_output
s3drc
/Documentation/manpages/man*/*.sgml
/Documentation/xml/
