# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2007-2015  Sven Eckelmann <sven@narfation.org>

experimental	export-ignore
.gitignore	export-ignore
.gitattributes	export-ignore
*.3ds binary
*.png binary
